{% extends 'pages/base.html' %}
{% load static %}
{% load user_auth %}
{% block title %}
Add Customer Payment
{% endblock title %}

{% block content %}

{% include 'pages/message.html' %}

{% if request.session.Estimate %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Add Customer Payment</h5>
            <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                    <div class="form-row">
                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05">Date</label>
                        <input type="text" class="form-control" id="validationCustom05" name="lm" placeholder="Date" value="{{d1}}" required readonly>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05">Customer Name</label>
                        <select name="customer" id="editable-select" class="form-control customername" >
                        <option value="-1" selected>------Select-------</option>
                        {% for i in customer_data %}
                            <option value="{{i.id}}">{{i.fullname}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    </div>

                
                    <div class="form-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Total Pending Amount</label>
                            <input type="text" class="form-control pending_amount" id="pending-amount" name="pending_amount" placeholder="Pending Amount" required readonly>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Paid Amount</label>
                            <input type="text" class="form-control paid_amount" placeholder="paid Amount" name="paid_amount" required>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Round Off</label>
                            <input type="text" class="form-control" step="any" placeholder="Round Off" name="round_off">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Description</label>
                            <textarea rows="3" class="form-control" placeholder="Description" name="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <p class="text-right pl-2 pt-3">
                            <input type="submit" class="btn btn-space btn-success rounded" name="Estimate" value="Submit">
                          <a href="{% url 'dashboard' %}" class="btn btn-space btn-danger rounded">Cancel</a>
                        </p>
                      </div>
                </form>
        </div>
    </div>
</div>

<script src="{% static 'libs/js/jquery-3.5.1.js' %}"></script>
<script>
    $(document).ready(function(){
        var $loading = $('#overlay').hide();
    $(document)
    .ajaxStart(function () {
        $loading.show();
    })
    .ajaxStop(function () {
        $loading.hide();
    });
    $('.customername').select2();
        $('.customername').on("change",function(){
            var customer_name = $(this).val();
            $.ajax({
                url: "{% url 'customer_dueamount' %}", 
                data : { 'customer_name' : customer_name },
                success : function(data){
                   $('.card .pending_amount').val(data)
                }
            });
        });
    });
</script>
{% else %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Add Customer Payment</h5>
            <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                    <div class="form-row">
                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05">Date</label>
                        <input type="text" class="form-control" id="validationCustom05" name="lm" placeholder="Date" value="{{d1}}" required readonly>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05">Customer Name</label>
                        <select name="customer" id="editable-select" class="form-control customername" >
                        <option value="-1" selected>------Select-------</option>
                        {% for i in customer_data %}
                            <option value="{{i.id}}">{{i.fullname}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    </div>

                
                    <div class="form-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Total Pending Amount</label>
                            <input type="text" class="form-control pending-amount" id="pending-amount" name="pending_amount" placeholder="Pending Amount" required readonly>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Paid Amount</label>
                            <input type="text" class="form-control" placeholder="paid Amount" name="paid_amount" required>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Round Off</label>
                            <input type="text" class="form-control" step="any" placeholder="Round Off" name="round_off">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <label for="validationCustom05">Description</label>
                            <textarea rows="3" class="form-control" placeholder="Description" name="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <p class="text-right pl-2 pt-3">
                            <input type="submit" class="btn btn-space btn-success rounded" name="GST" value="Submit">
                          <a href="{% url 'dashboard' %}" class="btn btn-space btn-danger rounded">Cancel</a>
                        </p>
                      </div>
                </form>
        </div>
    </div>
</div>

<script src="{% static 'libs/js/jquery-3.5.1.js' %}"></script>
<script>
    $(document).ready(function(){
    var $loading = $('#overlay').hide();
    $(document)
    .ajaxStart(function () {
        $loading.show();
    })
    .ajaxStop(function () {
        $loading.hide();
    });
    $('.customername').select2();
        $('.customername').on("change",function(){
            var customer_name = $(this).val();
            $.ajax({
                url: "{% url 'customer_dueamount' %}",
                data : { 'customer_name' : customer_name },
                success : function(data){
                   $('.card .pending-amount').val(data)
                }
            });
        });
    });
</script>
{% endif %}

{% endblock content %}