{% load static %}
{% load user_auth %}
<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <link href="{% static 'Select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="stylesheet" href="{% static 'vendor/multi-select/css/multi-select.css' %}">
    <title>{% block title %}
    {% endblock title %}</title>
</head>

<body>
<style>
#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}
</style>

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
          <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg sidebar-dark fixed-top" >
                <a class="navbar-brand text-light" href="{% url 'dashboard' %}">{{request.user.profile.company_name}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user mr-2" style="color: white;" aria-hidden="true"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{request.user.username}} </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-chart-pie" aria-hidden="true"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-user"></i>Customer</a>
                                <div id="submenu-2" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'addcustomer' %}">Add <span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'viewcustomer' %}">View</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fa fa-user"></i>Supplier</a>
                                <div id="submenu-3" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'addsupplier' %}">Add <span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'viewsupplier' %}">View</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-6"><i class="far fa-money-bill-alt"></i>Sales</a>
                                <div id="submenu-7" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'addsale' %}">Sale</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'viewsale' %}">View Sales</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-cart-plus"></i>Purchase</a>
                                <div id="submenu-4" class="collapse submenu">
                                    <ul class="nav flex-column">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="{% url 'addpurchase' %}">Purchase</a>
                                                    </li>

                                                    <li class="nav-item">
                                                        <a class="nav-link" href="{% url 'viewpurchase' %}">View Purchase</a>
                                                    </li>
                                                </ul>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class=" fab fa-product-hunt"></i>Product</a>
                                <div id="submenu-5" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'addproduct' %}">Add</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'viewproduct' %}">view</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% if request.user|has_group:"Manufacture" %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#manufacture" aria-controls="submenu-5"><i class=" fab fa-product-hunt"></i>Manufacture</a>
                                <div id="manufacture" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'addproduct' %}">Add Manufacture Product</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'manufactureproductrequired' %}">Configure Product</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-5"><i class="fas fa-book"></i>Day Book</a>
                                <div id="submenu-6" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'dailyincome' %}">Income</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'dailyexpense' %}">Expense</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#payment" aria-controls="submenu-5"><i class="fab fa-amazon-pay"></i>Payment</a>
                                <div id="payment" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'customerpayment' %}">Customer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'supplierpayment' %}">Supplier</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#statement" aria-controls="statement"><i class="fas fa-chart-bar"></i>Statements</a>
                                <div id="statement" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'list_stock' %}">Stock</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'customer_payment_list' %}">Customer Payments</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'supplier_payment_list' %}">Supplier Payments</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'customer_Credit' %}">Customer Credit</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'supplier_credit' %}">Supplier Credit</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'totalincome' %}">Total Income</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'totalexpense' %}">Total Expense</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'salereport' %}">Sale Report</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'customerstatement' %}">Customer Sale Report</a>
                                        </li>
                                        <div class="mb-3"></div>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">

                    <div class="ecommerce-widget">
                    {% block content %}
                    {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'vendor/multi-select/js/jquery.multi-select.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'libs/js/main-js.js' %}"></script>
    <script src="{% static 'libs/js/custom.js' %}"></script>
    <script src="{% static 'Select2/js/select2.min.js' %}"></script>

    {% comment %} <script src="{% static 'libs/js/dashboard-ecommerce.js' %}"></script> {% endcomment %}
</body>
 
</html>