{% extends 'pages/base.html' %}
{% load static %}
{% load user_auth %}
{% block title %}
Estimate Purchase
{% endblock title %}
{% block content %}
{% include "pages/message.html" %}

{% if request.user|has_group:"Estimate" %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
        <h3 class="card-header"><strong style="color: black;">Estimate Purchase</strong></h3>
            <div class="card-body">
                <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success" id="upt_success" style="display:none"></div>
                        <div class="alert alert-danger" id="upt_error" style="display:none"></div>
                    </div>
                </div>

                <div class="form-row justify-content-md-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05"><strong style="color: black;">Date</strong></label>
                        <input type="text" class="form-control" id="validationCustom05" name="lm" placeholder="Date"
                            value="{{d1}}" required readonly>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05"><strong style="color: black;">Bill No</strong></label>
                        <input type="text" class="form-control" id="bill_no" name="bill_no" placeholder="Bill No"
                            value="{{estimate_newbillno}}" required readonly>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                        <br>
                        <label for="validationCustom01"><strong style="color: black;">Supplier Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'addsupplier' %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a></strong></label>
                        <select name="supplier" id="supplier_estimate" class="form-control supplier_estimate">
                            <option selected>-----------------------Select Supplier-----------------------</option>
                            {% for i in supplierdata_estimate %}
                                <option value="{{i.fullname}}">{{i.fullname}}</option>
                            {% endfor %}
                        </select>
                        <br>
                    </div>
                </div>
                
                <div id="c" data-href="{% url 'estimatepurchasec' %}"></div>
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead class="thead-dark punit">
                        <tr>
                            <th scope="col" width="2%">#</th>
                            <th scope="col" width="35%">Product Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Qty.</th>
                            <th scope="col">Dis(%)</th>
                            <th scope="col">Net Rate</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody id="itemtable" data-href="">
                        <tr id="row0" itemid="0">
                            <td>
                                <a id="del0" href="#"> <i class="fa fa-trash" style="color: red;"aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <div class="combo0">
                                    <select name="prod0" id="prod0" placeholder="Select Product" class="product-select form-control">
                                        <option value="-1" selected>-----------------Select Product-----------------</option>
                                        {% for i in productdata_estimate %}
                                            <option value="{{i.product_name}}">{{i.product_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="tot form-control" id="unit0" name="unit0" readonly>
                            </td>
                            <td>
                                <input type="number" min="0" step="any" class="form-control" id="rate0" name="rate0">
                            </td>
                            <td>
                                <input type="number" min="0" class="addbtntext0 form-control" id="qty0" name="qty0">
                            </td>
                            <td>
                                <input type="number" min="0" step="any" class="form-control" id="dis0" name="dis0">
                            </td>
                            <td>
                                <input type="number" class="form-control" id="nr0" name="nr0" readonly>
                            </td>
                            <td>
                                <input type="text" class="tot form-control" id="tot0" name="tot0" readonly>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <table class="table">
                    <tbody>
                        <tr>
                            <td align="right" width="75%">Total(Rs.)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="total" name="total"
                                placeholder="Total" readonly></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">Old Amount(Rs.) (+)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="oldamt"
                                name="oldamt" placeholder="" readonly></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">Round Off (-)</td>
                            <td align="right" width="25%"><input type="number" min="0" class="form-control" id="roff"
                                name="roff" placeholder="Round Off"></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">Grand Total(Rs.)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="gtot" name="gtot"
                                placeholder="Grand Total" readonly></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-row">
                    <p class="text-right pl-2 pt-3">
                    <input type="submit" class="btn btn-space btn-success rounded addpurchase" name="Estimate" value="Submit">
                    <a href="{% url 'dashboard' %}" class="btn btn-space btn-danger rounded">Cancel</a>
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="purchaseprice" data-href="{% url 'purchaseprice_estimate' %}"></div>
<div class="product_data_estimate" data-href="{% url 'product_data_estimate' %}"></div>

{% else %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h3 class="card-header"><strong style="color: black;">GST Purchase</strong></h3>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}

                <div class="form-row justify-content-md-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05"><strong style="color: black;">Date</strong></label>
                        <input type="text" class="form-control" id="validationCustom05" name="lm" placeholder="Date" value="{{d1}}" required readonly>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05"><strong style="color: black;">Bill No</strong></label>
                        <input type="text" class="form-control" id="bill_no" name="bill_no" placeholder="Bill No" value="{{gst_newbillno}}" required readonly>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2" >
                        <br>
                        <label for="validationCustom01"><strong style="color: black;">Supplier Name</strong></label>
                        <select name="supplier" id="supplier_gst" class="form-control supplier_gst">
                        <option value="-1" selected>-----------------------Select Supplier-----------------------</option>
                        {% for i in supplierdata_gst %}
                            <option value="{{i.fullname}}">{{i.fullname}}</option>
                        {% endfor %}
                        </select>   
                        <br>
                    </div>
                </div>

                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead class="thead-dark punit">
                        <tr>
                            <th scope="col"width="2%">#</th>
                            <th scope="col" width="10%">HSN Code</th>
                            <th scope="col" width="25%">Product Name</th>
                            <th scope="col" width="7%">Unit</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Qty.</th>
                            <th scope="col">GST(%)</th>
                            <th scope="col">GST AMT</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody id="itemtable" data-href="">
                        <tr id="row0" itemid="0">
                        <td>
                            <a id="del0" href="#"> <i class="fa fa-trash" style="color: red;"aria-hidden="true"></i> </a>
                        </td>

                        <td>
                            <input type="number" min="0" class="form-control" id="hsn0" name="hsn0">
                        </td>
                        
                        <td>
                            <div class="comboprod0">
                            <select name="prod0" id="prod0" placeholder="Select Product" class="product-select form-control" >
                                <option selected>--------Select Product--------</option>
                                {% for i in productdata_gst %}
                                    <option value="{{i.product_name}}">{{i.product_name}}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </td>

                        <td>
                            <input type="text" class="tot form-control" id="unit0" name="unit0" readonly >
                        </td>

                        <td>
                            <input type="number" min="0" step="any" class="form-control" id="rate0" name="rate0">
                        </td>

                        <td>
                            <input type="number" min="0" class="form-control" id="qty0" name="qty0">
                        </td>
                        <td>
                            <input type="number" min="0" step="any" class="addbtntext0 form-control" id="gstp0" name="gstp0">
                        </td>
                        <td>
                            <input type="number" class="gstamt form-control" id="gstamt0" name="gstamt0" readonly  >
                        </td>
                        <td>
                            <input type="text" class="tot form-control" id="tot0" name="tot0" readonly  >
                        </td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <table class="table">
                    <tbody>
                        <tr>
                            <td align="right" width="75%">Total(Rs.)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="total" name="total" placeholder="Total" readonly></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">CGST(Rs.) (+)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="cgst" name="cgst" placeholder="" readonly></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">SGST(Rs.) (+)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="sgst" name="sgst" placeholder="" readonly></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">IGST(Rs.) (+)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="igst" name="igst" placeholder="" readonly></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">Round Off (-)</td>
                            <td align="right" width="25%"><input type="number" min="0" step="any" class="form-control" id="roff" name="roff" placeholder="Round Off"></td>
                        </tr>
                        <tr>
                            <td align="right" width="75%">Grand Total(Rs.)</td>
                            <td align="right" width="25%"><input type="number" class="form-control" id="gtot" name="gtot" placeholder="Grand Total" readonly></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-row">
                    <p class="text-right pl-2 pt-3">
                        <input type="submit" class="btn btn-space btn-success rounded gstaddpurchase" name="GST" value="Submit">
                        <a href="{% url 'dashboard' %}" class="btn btn-space btn-danger rounded">Cancel</a>
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="st" data-href="{% url 'supplier_state_gst' %}"></div>
<div id="c" data-href="{% url 'gstpurchasec' %}"></div>
<div id="ownerstate_gst" data-href="{% url 'ownerstate_gst' %}"></div>
<div class="purchaseprice_gst" data-href="{% url 'purchaseprice_gst' %}"></div>
<div class="product_data_gst" data-href="{% url 'product_data_gst' %}"></div>
{% endif %}


<script src="{% static 'libs/js/jquery-3.5.1.js' %}"></script>
{% if request.user|has_group:"Estimate" %}
<script src="{% static 'libs/js/custom/estimatepurchase.js' %}"></script>
{% else %}
<script src="{% static 'libs/js/custom/gstpurchase.js' %}"></script>
{% endif %}

<script>
  $(document).ready(function () {
    $('.product-select').select2();
    $('.supplier_estimate').select2();
    $('.supplier_gst').select2();
    $('.supplier_estimate').on("change", function () {
        var name = $(this).val();
        $.ajax({
            url: "{% url 'supplierdueamount_estimate' %}",
            data: { 'cname': name },
            success: function (data) {
                $('#oldamt').val(data)
            }
        });
    });

  })
</script>

{% endblock content %}